In [ ]:
!pip install pandas_datareader

In [3]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import yfinance as yfin
yfin.pdr_override()

In [7]:
df =data.get_data_yahoo('005930.ks',start='2020-01-01',end='2021-02-11')
df.info()

[*********************100%***********************]  1 of 1 completed
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 276 entries, 2020-01-02 to 2021-02-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       276 non-null    float64
 1   High       276 non-null    float64
 2   Low        276 non-null    float64
 3   Close      276 non-null    float64
 4   Adj Close  276 non-null    float64
 5   Volume     276 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 15.1 KB

In [8]:
df.describe()

               Open          High  ...     Adj Close        Volume
count    276.000000    276.000000  ...    276.000000  2.760000e+02
mean   60024.637681  60812.318841  ...  55926.899372  2.295921e+07
std    10835.925511  11160.551977  ...  10947.470594  1.047140e+07
min    42600.000000  43550.000000  ...  38941.644531  0.000000e+00
25%    52950.000000  53600.000000  ...  49039.085938  1.607145e+07
50%    57800.000000  58550.000000  ...  53754.830078  2.042467e+07
75%    61100.000000  61525.000000  ...  56745.642578  2.692489e+07
max    90300.000000  96800.000000  ...  87219.484375  9.030618e+07

[8 rows x 6 columns]

In [10]:
#3
df['Close'].max()

91000.0

In [11]:
#4
df['Close'].mean()

60051.44927536232

In [16]:
#5
df.shape[0]

276

In [19]:
df[['Close']]

              Close
Date
2020-01-02  55200.0
2020-01-03  55500.0
2020-01-06  55500.0
2020-01-07  55800.0
2020-01-08  56800.0
...             ...
2021-02-04  82500.0
2021-02-05  83500.0
2021-02-08  83000.0
2021-02-09  82700.0
2021-02-10  81600.0

[276 rows x 1 columns]