In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy as sp
import yfinance as yf
# 한글폰트 출력 가능 코드
from matplotlib import rc
rc('font', family='AppleGothic') # Mac Os
#rc('font', family='NanumGothic') # Windows Os
plt.rcParams['axes.unicode_minus'] = False

In [2]:
# # 삼성전자, KOSPI 데이터 불러오기
# stock_price = yf.download({'005930.KS','^KS11'}, '2022-01-01', '2022-01-21')

# stock_price

# yfinance 데이터 불러오기
stock_price = yf.download({'005930.KS','^KS11'}, '2019-01-01', '2022-01-01', period='1d')
stock_price

[*********************100%***********************]  2 of 2 completed

               Adj Close                  Close                   High  \
               005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
Date
2019-01-02  34482.308594  2010.000000   38750.0  2010.000000   39400.0
2019-01-03  33458.964844  1993.699951   37600.0  1993.699951   38550.0
2019-01-04  33325.488281  2010.250000   37450.0  2010.250000   37600.0
2019-01-07  34482.308594  2037.099976   38750.0  2037.099976   38900.0
2019-01-08  33903.898438  2025.270020   38100.0  2025.270020   39200.0
...                  ...          ...       ...          ...       ...
2021-12-24  78211.703125  3012.429932   80500.0  3012.429932   80800.0
2021-12-27  77920.226562  2999.550049   80200.0  2999.550049   80600.0
2021-12-28  78017.382812  3020.239990   80300.0  3020.239990   80400.0
2021-12-29  76905.757812  2993.290039   78800.0  2993.290039   80200.0
2021-12-30  76417.789062  2977.649902   78300.0  2977.649902   79500.0

                              Low                   Open               \
                  ^KS11 005930.KS        ^KS11 005930.KS        ^KS11
Date
2019-01-02  2053.449951   38550.0  2004.270020   39400.0  2050.550049
2019-01-03  2014.719971   37450.0  1991.650024   38300.0  2011.810059
2019-01-04  2011.560059   36850.0  1984.530029   37450.0  1992.400024
2019-01-07  2048.060059   37800.0  2030.900024   38000.0  2034.239990
2019-01-08  2042.699951   37950.0  2023.589966   38000.0  2038.680054
...                 ...       ...          ...       ...          ...
2021-12-24  3025.770020   80200.0  3009.479980   80200.0  3009.479980
2021-12-27  3017.310059   79800.0  2999.300049   80600.0  3013.939941
2021-12-28  3020.290039   79700.0  2991.550049   80200.0  3006.770020
2021-12-29  3007.719971   78500.0  2988.669922   80200.0  3002.899902
2021-12-30  3005.360107   78100.0  2975.739990   78900.0  2999.750000

              Volume
           005930.KS   ^KS11
Date
2019-01-02   7847664  326400
2019-01-03  12471493  428000
2019-01-04  14108958  409000
2019-01-07  12748997  440200
2019-01-08  12756554  397800
...              ...     ...
2021-12-24  12086380  537500
2021-12-27  10783368  475000
2021-12-28  18226325  607000
2021-12-29  19794795  545800
2021-12-30  14236700  460600

[742 rows x 12 columns]

In [13]:
_pct=((stock_price-stock_price.shift(1))/stock_price.shift(1)).dropna(axis=0)
_pct.head(3)

           Adj Close               Close                High            \
           005930.KS     ^KS11 005930.KS     ^KS11 005930.KS     ^KS11
Date
2019-01-03 -0.029677 -0.008109 -0.029677 -0.008109 -0.021574 -0.018861
2019-01-04 -0.003989  0.008301 -0.003989  0.008301 -0.024643 -0.001568
2019-01-07  0.034713  0.013357  0.034713  0.013357  0.034574  0.018145

                 Low                Open              Volume
           005930.KS     ^KS11 005930.KS     ^KS11 005930.KS     ^KS11
Date
2019-01-03 -0.028534 -0.006297 -0.027919 -0.018892  0.589198  0.311275
2019-01-04 -0.016021 -0.003575 -0.022193 -0.009648  0.131297 -0.044393
2019-01-07  0.025780  0.023366  0.014686  0.021000 -0.096390  0.076284