# 변수

In [2]:
# 변수 선언과 동시에 값을 할당
a =10
b="test"

#두 변수를 출력
print(a)
print(b)

#두 변수의 데이터의 형태 출력

print(type(a))
print(type(b))

10
test
<class 'int'>
<class 'str'>

In [2]:
# 숫자 형태의 데이터에 ""로 묶어주면 문자열 데이터로 데이터 대입
c="10"

print(c)
print(type(c))

10
<class 'str'>

# 연산자

In [3]:
# 산술 연산자

x=7
y=3

print(x+y,x-y,x*y,x/y,x//y,x%y,x**y)

10 4 21 2.3333333333333335 2 1 343

In [4]:
# 대입 연산자

#  +=,-+,*=,/=,//=,%=,**=
#  산술연산자와의 차이는 기준이 되는 변수의 데이터를 변경한다

x=7
print(x)
x+=1
print(x)
x-=3
print(x)
x*=2
print(x)
x/=3
print(x)

print(x+2)

7
8
5
10
3.3333333333333335
5.333333333333334

In [1]:
# 비교 연산자
# 데이터의 비교를 하여 논리값을 출력
# 논리값 bool의 형태 (True,False)

x=7
y=3

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

In [2]:
# and, or, not
# and :두 조건이 모두 참인 경우에 참 나머지의 경우는 모두 거짓
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [3]:
# or :두 조건중 하나만 참이면 참을 출력, 두 조건이 모두 거짓인 경우에만 거짓을 출력
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [4]:
# not : True는 False로 False는 True로 출력
print(not(True))
print(not(False))

False
True

# 조건문

In [6]:
a=5

#a가 10보다 작은 경우에는 첫 번째 print를 실행
#a가 10보다 크거나 같은 경우에는 첫 번째 print를 실행하지 않는다

if a<10:
    print("a는 10보다 작다")

print("프로그램 종료")

a는 10보다 작다
프로그램 종료

In [7]:
#if ~ else문
a=15

if a<10:
    print("a는 10보다 작다")

else:
    print("a는 10보다 크거나 같다")

print("프로그램 종료")

a는 10보다 크거나 같다
프로그램 종료

In [4]:
#if ~ elif ~ else문
score= int(input("점수를 입력하세요:"))

if score>=90:
    print('A')
elif score>=80:
    print('B')
elif score>=70:
    print('C') 
else:
    print('D')
print("프로그램 종료")

A
프로그램 종료

# 반복문

In [6]:
# range(시작값, 종료값, 증가값)
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [8]:
#for 문
for i in range(1,11,1):
    print(i)
print("프로그램 종료")

1
2
3
4
5
6
7
8
9
10
프로그램 종료

In [10]:
for i in range(10):    # 시작값:0 증가값:1 이 기본값이다.
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10,1,-2):  # 증가값을 마이너스로 해서 줄일 수도 있다.
    print(i)

10
8
6
4
2

In [16]:
# 1부터 10까지의 합계를 구하시오
# 10번 반복

s=0
for i in range(11):     #range(1,11,1)=range(1,11)=range(11)
    s+=i

print(s)

55

In [23]:
# 1부터 50까지의 합계를 구한다.
# 1부터 50까지 짝수의 합만 구한다

# case1(for문)
# case2(for문, if 문)
s=0
for i in range(2,51,2):     #range(0,51,2)로 하면 0인 경우 한번 더 실행된다. range(2,51,2)로  실행하자!
    s+=i
print(s)

650

In [24]:
s=0
for i in range(1,51):
    if i%2!=0:
        continue
    s+=i
print(s)

650

In [30]:
# 주사위 2개를 굴려서 두 주사위의 합계가 5의 배수인 경우를 출력하시오
# 경우의 수:36번  -> 6번의 경우의 수 * 6번의 경우의 수
# 다중 for 문 과 if문

num=0
for i in range(1,7):
    for j in range(1,7):
        num=i+j
        if num %5==0:
            print("합은 %02d,i=%d,j=%d" %(num,i,j))

합은 05,i=1,j=4
합은 05,i=2,j=3
합은 05,i=3,j=2
합은 05,i=4,j=1
합은 10,i=4,j=6
합은 10,i=5,j=5
합은 10,i=6,j=4

### 문제
- 페르마의 마지막 정리를 증명하시오
    >a<sup>n</sup> + b<sup>n</sup> = c<sup>n</sup>이 수식에서 n의 값이 2보다 큰 자연수이면 a,b,c의 자연수의 값은 존재하지 않는다.
    
    >n의 값이 3인 경우 a,b,c가 1부터 10까지 이 정리가 사실임을 증명하시오
- 다중 for문과 if문을 사용

In [36]:
for a in range(1,11):
    for b in range(1,11):
        for c in range(1,11):
            #1000번을 반복하는 반복문을 생성
            if (a**3 +b**3)==c**3:
                print("페르마의 마지막 정리는 사실이 아니다")

print("페르마의 마지막 정리는 사실이다")

페르마의 마지막 정리는 사실이다

In [44]:
# while 문
#초기값 지정
i=0

while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [46]:
#while문을 이용하여 1부터 10까지 합

result=0
i=1

while i<=10:           # 중가값의 위치가 중요 통상 맨 마지막에 증가값을 더한다
    result+=i
    i+=1
print(result)

55

In [49]:
#continue, break
#continue 반목문으로 돌아간다.
#break 반복문 종료

for i in range(1,11,1):
    if i<3:
        continue
    print(i)

3
4
5
6
7
8
9
10

In [68]:
# 문제
# 1부터 1000까지 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?

s=0
i=0

while s<900:
    s+=i
    i+=1
    print(i,s)
    
print(i-1)

1 0
2 1
3 3
4 6
5 10
6 15
7 21
8 28
9 36
10 45
11 55
12 66
13 78
14 91
15 105
16 120
17 136
18 153
19 171
20 190
21 210
22 231
23 253
24 276
25 300
26 325
27 351
28 378
29 406
30 435
31 465
32 496
33 528
34 561
35 595
36 630
37 666
38 703
39 741
40 780
41 820
42 861
43 903
42

In [76]:
s=0
i=0

while True:
    s+=i
    if s>900:
        break
    i+=1
    
print(i,s)

42 903

In [78]:
s=0

for i in range(1,1001,1):
    s +=i
    if s>900:
        break
    i+=1
print(i,s)

42 903

# 튜플

#### 튜플은 수정 불가!

In [79]:
a=(4,'Hello')
b=(3,3.14)
c=a+b               # 튜플이 수정된게 아니라 새로운 튜플이 생긴 것.
d=a*3

print(a)
print(b)
print(c)
print(d)

(4, 'Hello')
(3, 3.14)
(4, 'Hello', 3, 3.14)
(4, 'Hello', 4, 'Hello', 4, 'Hello')

In [81]:
# 튜플과 같은 여러개의 원소를 담아내고 있는 변수들은 위치 값으로 각각의 원소를 출력할 수 있다.

print(a[0]) #위치는 0부터 시작한다

4

In [83]:
print(a[1][0])    # 첫번째 a[1]을 하면 str 형태의 'Hello'가 나오고 이 때 첫번째 문자열 H를 출력하기

H

In [87]:
a=(10,20,30,40,50)

print(a[1:4]) #2번째 원소부터 4번째 원소까지 출력하기
print(a[1:]) #2번째부터 끝까지 출력
print(a[:3]) #처음부터 3번째 항목까지 출력

(20, 30, 40)
(20, 30, 40, 50)
(10, 20, 30)

# 리스트

In [88]:
a=[20,10,40,30]
b=[10,20,30,40]

#a 리스트의 순서를 오름차순으로 변경
a.sort()
#b 리스트는 순서를 역순으로 변경
b.reverse()

print(a)
print(b)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [89]:
# a 리스트에서 마지막 항목 삭제
a.pop()
# b 리스트에는 22라는 항목을 마지막 항에 추가
b.append(22)

print(a)
print(b)

[10, 20, 30]
[40, 30, 20, 10, 22]

In [93]:
x=[]   # []=list()

for i in range(1,11,1):
    x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
y=[30,20,80,10]
print(len(y))

for i in y:
    print(i)

4
30
20
80
10

In [98]:
for i in range(0,len(y),1):
    print(y[i])

30
20
80
10

- 1부터 70까지 숫자들 중에 3의 배수를 리스트의 형태로 만들어서 출력

    1.비어있는 리스트를 하나 생성

    2.1부터 70까지 반복을 하는 반복문 생성

    3.1부터 70까지의 항목들을 비어있는 리스트 추가
    
    4.3의 배수인 값들만 리스트 추가

In [101]:
list_1=[]

for i in range(1,71,1):
    if i%3==0:
        list_1.append(i)
print(list_1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [104]:
list_1=[]
i=1             #while문에서는 초기값 설정이 필요하다. 이때 초기값을 1혹은 0 에 따라서, 몇번 반복하는지 구하는 문제일때 중요함.

while i<71:
    if i%3==0:
        list_1.append(i)
    i+=1
print(list_1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

# 딕셔너리

In [106]:
# 사전형 데이터
# {key1 : value1, key2 : value2,.....}

dict={'name' : 'test', 'age' : 20,'phone':'01012345678' }

print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [107]:
# test 단어를 출력하려면?
print(dict['name'])

test

In [109]:
# print(dict[0])
# 딕셔너리의 key 이름중 0이 없다 
# 딕셔너리는 list처럼 출력 불가능

In [111]:
# 새로운 키: 벨류를 추가
# 새로운 키 값은 입력
dict['area']='seoul'

print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [113]:
# 기존의 키 값에 있는 벨류를 수정
dict['age']=30                

print(dict)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'seoul'}

In [115]:
#키 값을 삭제

del(dict['phone'])

print(dict)

{'name': 'test', 'age': 30, 'area': 'seoul'}

In [116]:
# DB와 python을 연동하여 데이터를 받으면
# 데이터의 형태 [{},{}]로 데이터가 들어온다

test_data=[
    {
        "name":'test',
        'age' : 20

    },
    {
        "name" :'test2',
        "age" : 30
    },
    {
        'name' : 'test3',
        'age' : 25
        
    }
]

In [117]:
print(len(test_data))

3

In [120]:
#test data에서 "test2를 출력하기"

print(test_data[1])
print(test_data[1]["name"])

{'name': 'test2', 'age': 30}
test2

- test_data에서 연령대가 20대인 사람의 이름을 리스트로 출력하시오

In [126]:
list_2=[]
for i in range(0,len(test_data),1):
    if 20<=test_data[i]["age"]<30:    # test_data[i]["age"] >=20 and test_data[i]["age"]<30:    and로 표현
        list_2.append(test_data[i]["name"])
print(list_2)

['test', 'test3']

In [135]:
list_2=[]

for i in test_data:
    if 20<=i["age"]<30:
        #print(i['name'])
        list_2.append(i['name'])

print(list_2)

['test', 'test3']