In [76]:
import pandas as pd

In [77]:
df=pd.read_csv("https://bit.ly/ds-house-price")
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [78]:
# 컬럼의 이름을 단일 변경
df=df.rename(columns={'분양가격(㎡)' : '분양가격'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

1. 분양가격 컬럼의 데이터의 형태를 int의 형태로 변경(결측치는 0으로 대체)
2. 규모구분 컬럼의 '전용면적' 단어를 삭제
3. 지역, 규모 구분 별 분양 가격의 평균가를 구하기

- NaN--> 결측치 : 값이 존재하지 않는다
- ""  ->  공백이라는 데이터
- "   " -->데이터
- " "   -->데이터

In [79]:
df['분양가격'].fillna(0,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [80]:
df["분양가격"]=df['분양가격'].astype(str)
df['분양가격']=df['분양가격'].apply(lambda x : x.replace(" ","").replace(",",'').replace('-',''))
df.loc[df['분양가격']=='','분양가격']=0
df['분양가격']=df['분양가격'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 158.5+ KB

In [84]:
df['규모구분']=df['규모구분'].astype(str)
df['규모구분']=df['규모구분'].apply(lambda x : x.replace("전용면적 ",''))
df['규모구분'].value_counts()

전체              901
60㎡이하           901
60㎡초과 85㎡이하     901
85㎡초과 102㎡이하    901
102㎡초과          901
Name: 규모구분, dtype: int64

In [83]:
df[['지역명','규모구분','분양가격']].groupby(['지역명','규모구분']).mean()

                         분양가격
지역명 규모구분
강원  102㎡초과        2575.056604
    60㎡이하         2302.169811
    60㎡초과 85㎡이하   2277.207547
    85㎡초과 102㎡이하  2268.660377
    전체            2275.943396
...                       ...
충북  102㎡초과        2485.660377
    60㎡이하         2161.698113
    60㎡초과 85㎡이하   2204.245283
    85㎡초과 102㎡이하  2541.132075
    전체            2191.622642

[85 rows x 1 columns]